*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  /* overflow: hidden; */
  max-width: 1600px;
  height: 6102px;
  margin: 0 auto;
  background-color: #fef8f5;
}

.top {
  height: 1185px;
  margin-bottom: 105px;
  background-image: url(assets/img/top.png);
}

.top_header {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 100%;
}

.top_header_nav-list ul {
  display: flex;
  height: 60px;
  gap: 40px;
  list-style-type: none;
}

.about_us {
  display: flex;
  justify-content: space-between;
  width: 1171px;
  height: 550px;
  margin-left: 245px;
  margin-bottom: 160px;
}

.about_us_content {
  margin-top: auto;
  width: 570px;
  height: 476px;
}

.about_us_bg {
  margin-bottom: auto;
  width: 575px;
  height: 480px;
  background-image: url(assets/img/about_Illustration.png);
}

.how_to {
  display: flex;
  width: 1232px;
  height: 679px;
  margin-left: auto;
  margin-right: 240px;
  margin-bottom: 120px;
}

.how_to_bg {
  width: 720px;
  height: 100%;
  background-image: url(assets/img/howto_illustration.png);
}

.how_to_content {
  width: 512px;
  height: 100%;
}

.faq {
  width: 1360px;
  height: 1500px;
  margin-left: 240px;
  margin-bottom: 177px;
  background: url(assets/img/faq.png) no-repeat right;
}

.testi {
  width: 1680px;
  height: 454px;
  margin-left: 240px;
  margin-bottom: 160px;
}

.footer {
  width: 1400px;
  height: 920px;
  margin-bottom: 92px;
  background: url(assets/img/footer.png) no-repeat;
}

.top,
.top_header,
.top_header_logo,
.top_header_nav-list,
.about_us,
.about_us_content,
.about_us_bg,
.how_to,
.how_to_bg,
.how_to_content,
.faq,
.testi,
.footer {
  border: 1px solid #000;
}

