*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  overflow: hidden;
  max-width: 1600px;
  height: 6102px;
  margin: 0 auto;
  background-color: #fef8f5;
}

/*******************************
************HEADER************** 
********************************/

.top {
  height: 1185px;
  margin-bottom: 105px;
  background-image: url(assets/img/top.png);
  background-position: center;
}

.top_header {
  margin: 40px 240px 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.top_header_nav-list {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 604px;
  list-style-type: none;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.top_header_nav-list,
.btn {
  list-style-type: none;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.btn {
  background-color: #ee4d47;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
}

.top_header_btn {
  width: 158px;
  height: 60px;
}

.top_content {
  max-width: 741px;
  margin: 90px 90px 0 240px;
}

.top_content_text {
  height: 300px;
}

.top_content_text h1 {
  color: #FFF;
  font-family: 'DM Serif Display', serif;
  font-size: 100px;
  font-weight: 400;
  line-height: 100%;
}

.top_content_btn {
  margin-top: 60px;
  width: 220px;
  height: 60px;
}

.top_content_btn span {
  margin-right: 24px;
}

/*******************************
************ABOUT US************ 
********************************/

.about_us {
  display: flex;
  justify-content: space-between;
  max-width: 1171px;
  height: 550px;
  margin-left: 245px;
  margin-bottom: 160px;
}

.about_us_content {
  margin-top: auto;
  min-width: 570px;
  height: 476px;
  font-family: 'Rubik', sans-serif;
}

.about_us_content h2,
.how_to_content h2,
.faq_content_title h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: #ee4d47;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 2.4px;
  padding: 5px 0;
}

.about_us_content_description {
  width: 470px;
  height: 156px;
}

.about_us_content_description,
.how_to_content_description {
  color: #402B2B;
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
  margin-top: 40px;
}

.about_us_content_question {
  width: 570px;
  height: 160px;
  margin-top: 70px;
  padding: 30px 55px 30px 45px;
  border: 0px solid #ee4d47;
  border-left-width: 10px;
  background-color: rgba(252, 221, 212, 0.4);
  color: #402B2B;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}


.about_us_bg {
  margin-bottom: auto;
  width: 575px;
  height: 480px;
  background-image: url(assets/img/about_Illustration.png);
}

.how_to {
  display: flex;
  justify-content: space-between;
  max-width: 1232px;
  height: 679px;
  margin-left: 128px;
  margin-bottom: 120px;
  font-family: 'Rubik', sans-serif;
}

.how_to_bg {
  width: 721px;
  background-image: url(assets/img/howto_illustration.png);
}

.how_to_content {
  min-width: 455px;
}

.how_to_content_description {
  width: 455px;
}

.faq {
  width: 1360px;
  height: 1500px;
  margin-left: 240px;
  margin-bottom: 177px;
  background: url(assets/img/faq.png) no-repeat right;
  background-size: contain;
}

.faq_content {
  margin-top: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 550px;
  height: 294px;
}

.faq_content_title {
  position: relative;
}

.red-line {
  position: absolute;
  bottom: 0;
  width: 65px;
  height: 6px;
  border-radius: 20px;
  background: #ee4d47;
}

.faq_content_description {
  width: 550px;
  height: 200px;
  color: #402B2B;
  font-family: 'DM Serif Display', serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 140%;
}

.faq_content_wrapper {
  height: 711px;
  max-width: 1120px;
}

.faq_content_questions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin: 170px auto 0;
  height: 590px;
}

.faq_content_questions_item {
  width: 550px;
  height: 90px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.10);
}

.question_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  width: 550px;
  height: 90px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.10);
}

.question_item h3 {
  width: 400px;
  color: #402B2B;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.load_more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  margin: 23px 0 0 auto;
  width: 550px;
  height: 90px;
  border-radius: 10px;
  background: rgba(237, 77, 71, 0.2);
  color: #ee4d47;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 30px;
}

.load_more div {
  margin: auto;
}

.description_item {
  height: 160px;
  padding: 40px 35px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.opened {
  background: #FFF7F5;
  box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.10);
  height: 250px;
  margin-bottom: 40px;
}

.testi {
  width: 1680px;
  height: 454px;
  margin-left: 240px;
  margin-bottom: 160px;
}

.footer {
  max-width: 1400px;
  height: 920px;
  margin-bottom: 92px;
  background: url(assets/img/footer.png) no-repeat;
}

.top,
.top_header,
.top_header_logo,
.top_header_nav-list,
.top_content_text,

.about_us,
.about_us_content,
.about_us_content h2,
.about_us_content_description,
.about_us_bg,

.how_to,
.how_to_bg,
.how_to_content,
.how_to_content h2,
.how_to_content_description,

.faq,
.faq_content,
.faq_content_title,
.faq_content_description,

.testi,
.footer {
  /* border: 1px solid #000; */
}

@media screen and (max-width: 1500px) {
  .top_header {
    margin-right: 10vw;
    margin-left: 9vw;
  }

  .top_header_nav-list {
    width: 40vw;
  }

  .top_content {
    margin-left: 9vw;
    margin-right: 15vw;
  }

  .top_content h1 {
    font-size: 90px;
  }

  .about_us {
    margin-left: 15vw;
  }

  .faq {
    margin-left: 10vw;
  }
}

@media screen and (max-width: 1300px) {
  .about_us_bg,
  .how_to_bg {
    display: none;
  }

  .about_us,
  .how_to {
    width: 500px;
    margin: 0 auto 100px;
  }

  .about_us_content_question {
    width: 455px;
    height: 200px;
    padding: auto 5px;
  }

  .faq {
    height: 1900px;
    width: 90%;
    margin: 0 auto;
    background: #FDEDE8;
    border-radius: 5%;
  }

  .faq_content {
    margin: 50px auto;
  }

  .faq_content_questions {
    height: 1200px;
    align-items: center;
  }

  .load_more {
    margin: 23px auto 0;
  }

}